body {
    margin: 0;
    height: 100vh;
    background-image: url('https://raw.githubusercontent.com/Undecisive-Modders/undecisive-modders.github.io/refs/heads/main/background.png');
    background-repeat: repeat;
    background-size: 128px 128px;
    display: flex;
}

.title {
    font-family: 'MinecraftSeven', sans-serif;
    font-size: 32px;
    color: #fff;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.75);
}

@font-face {
    font-family: 'MinecraftSeven';
    src: url('/minecraftseven.ttf') format('truetype');
}
