body {
    margin: 0;
    height: 100vh;
    background-image: url('https://raw.githubusercontent.com/Creators-of-Create/Create/refs/heads/mc1.21.1/dev/src/main/resources/assets/create/textures/block/industrial_iron_block.png');
    background-repeat: repeat;
    background-size: 512px 512px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-text {
    font-family: 'MinecraftSeven', sans-serif;
    font-size: 50px;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Optional for better visibility */
}

.discord-text {
  font-family: 'MinecraftSeven', sans-serif;
  font-size: 14px;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(93, 0, 252, 0.7);
  position: absolute;
  bottom: 15%;
}

/* Import the MinecraftSeven font */
@font-face {
    font-family: 'MinecraftSeven';
    src: url('https://raw.githubusercontent.com/Undecisive-Modders/undecisive-modders.github.io/main/minecraftseven.ttf') format('truetype'); /* Replace with the path to your font file */
}
