/* HTML Tag Rules */
/*> Body */
body {
    margin: 0;
    height: 100vh;
    background-image: url('/background.png');
    background-repeat: repeat;
    background-size: 128px 128px;
    display: flex;
}
/*> Heading 1 */
h1 {
    font-family: 'MinecraftSeven', sans-serif;
    font-size: 32px;
    color: #FFFFFF;
    text-decoration: underline;
}
/*> Heading 2 */
h2 {
    font-family: 'MinecraftSeven';
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: underline;
}
/*> Parapgraph */
p {
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}
/* Font Import */
@font-face {
    font-family: 'MinecraftSeven';
    src: url('/minecraftseven.ttf') format('truetype');
}
